*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.box{
  width: 970px;
  height: 800px;
  background: skyblue;
}
.content{
  margin: 0 auto;
  width: 950px;
  height: 400px;
  background: #e1e1e1;
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
}
.item{
  background: skyblue;
  flex: 1;
  margin: 10px;
}